    /* 
PAMStyle.css
Pixel Art Maker Project
Array Bootcamp Fall 2021
Katie Greenwald 
*/
    
    body {
        background-image: url("check.png");
        position: relative;
        z-index: -1;
        /*    cursor: crosshair;  cursor: url('deraser.png');  url('Rainbow-Paintbrush.ani'), default; */
        /*background-color: rgb(217, 245, 255); 
    position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
      cursor: url("mycursor.gif");
 */
    }
    
    .cur {
        padding-left: 10rem;
    }
    
    .cursors {
        border: 1px solid black;
        width: 7rem;
        text-align: center;
        align-items: center;
    }
    
    select {
        background-color: lightgrey;
    }
    
    .grid-container,
    .button-container,
    .palette-container,
    .picture-container {
        text-align: center;
    }
    
    footer {
        /* top: 20rem;
    left: 0;height: 100%;  position: relative;background-color: rgb(208, 245, 208);*/
        width: 550rem;
        height: 550rem;
        background-image: url("checkG.png");
        padding-top: 10rem;
        z-index: -2;
    }
    
    .link-pic,
    .pika-pic {
        position: absolute;
        top: 0;
        padding-top: 10rem;
    }
    
    .link-pic {
        padding-right: 10rem;
        padding-left: 5rem;
    }
    
    .pika-pic {
        padding-left: 10rem;
    }
    
    .pam-pic {
        padding-left: 35rem;
        padding-top: 20rem;
    }
    
    .instr {
        left: 35rem;
        top: 20rem;
        z-index: 2;
    }
    
    .pika {
        position: absolute;
        left: 57rem;
        /* position: absolute;  */
        top: 70rem;
        transform: scaleX(-1);
        z-index: 11;
    }
    
    .pika2 {
        position: absolute;
        left: 57rem;
        top: 70rem;
        transform: scaleX(-1);
        z-index: 0;
    }
    /* style the picture container */
    
    .picture-container img {
        max-height: 200px;
        max-width: 275px;
        border-radius: 10px;
        position: absolute;
        left: 2rem;
        top: 58rem;
        z-index: 2;
    }
    
    .paint-pic {
        height: 220px;
        width: 305px;
        top: 57rem;
        left: 1rem;
        position: absolute;
        z-index: 0;
    }
    /*the easel  */
    
    .paint {
        text-align: center;
        position: relative;
        left: 6rem;
        top: 10rem;
        padding-left: 10rem;
        z-index: 0;
    }
    
    .output {
        height: 850rem;
        width: 850rem;
    }
    
    .container {
        background-color: rgb(250, 246, 237);
        margin: auto;
        border: 1px solid black;
        /* border-radius: 10px; */
        max-width: 275px;
        padding: 2%;
        margin-top: 15px;
    }
    /* .grid-container,
tr,
td {
    border: 1px solid black;
}

tr {
    height: 10px;
}

td {
    width: 10px;
    box-sizing: border-box;
} */
    
    .grid-container {
        padding-left: 10rem;
        position: absolute;
        top: 51rem;
        left: 14.5rem;
        height: 40vh;
        /* cursor: url('Rainbow-Paintbrush.ani'), default; */
        z-index: 3;
    }
    /* .artbox {
    position: fixed;
} */
    
    .button-container,
    .palette-container {
        position: absolute;
        /* top: 15rem; */
        z-index: 10;
    }
    
    .button-container {
        left: 20rem;
    }
    
    .palette-container {
        background-color: white;
        border: 5px solid black;
        display: inline-block;
        padding: 10px;
    }
    /* .picture-container */
    
    .grid-container,
    .button-container,
    .palette-container {
        text-align: center;
    }
    
    .row {
        display: inline-block;
    }
    
    .square {
        /* background-color: rgb(239, 228, 176); */
        border: 1px solid rgb(155, 146, 101);
        height: 1.5rem;
        width: 1.5rem;
    }
    
    .circle {
        display: inline-block;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        border: 4px solid rgb(99, 77, 77);
    }
    
    .circle:hover {
        border: 4px solid rgb(6, 14, 88);
    }
    /* Dropdown */
    
    .dropdown {
        display: inline-block;
        position: relative;
    }
    
    .dd-button {
        display: inline-block;
        border-radius: 4px;
        padding: 8px 30px 10px 20px;
        cursor: pointer;
        white-space: nowrap;
    }
    
    .dd-button:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid black;
    }
    
    .dd-button:hover {
        background-color: var(--background);
    }
    
    .dd-input {
        display: none;
    }
    
    .dd-menu {
        position: absolute;
        top: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 0;
        margin: 2px 0 0 0;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
        background-color: rgb(250, 246, 237);
        list-style-type: none;
        z-index: 10;
    }
    
    .dd-input+.dd-menu {
        display: none;
    }
    
    .dd-input:checked+.dd-menu {
        display: block;
    }
    
    .dd-menu li {
        padding: 10px 20px;
        cursor: pointer;
        white-space: nowrap;
    }
    
    .dd-menu li:hover {
        background-color: rgb(250, 246, 237);
    }
    
    .dd-menu li a {
        display: block;
        margin: -10px -20px;
        padding: 10px 20px;
    }
    
    .dd-menu li.divider {
        padding: 0;
        border-bottom: 1px solid #ccc;
    }
    
    .output {
        position: absolute;
        left: 83rem;
        top: 55rem;
    }
    /*
 #target {
    border: 4px solid rgb(173, 102, 20);
    padding: 4px;
    /* background-image: url('-paint.png'); 
}  */
    
    .myImg,
    .aImg {
        position: absolute;
        top: 51rem;
        left: 24.4rem;
        height: 32.7rem;
        width: 32.7rem;
    }
    
    .myImg {
        /* padding-left: 100rem; */
        /* width: 16.3rem;
    height: 16.3rem;
    border: 1px solid #000; */
        /* margin: 10px 5px 0 0; */
        z-index: 2;
    }
    
    .aImg {
        z-index: 1;
        /* border: 3px solid black; */
    }
    
    .addAnImage {
        font-weight: bold;
    }
    
    .addAnImage:hover {
        color: lightblue;
    }
    
    #mydiv {
        position: absolute;
        z-index: 9;
        background-color: #f1f1f1;
        border: 1px solid #d3d3d3;
        text-align: center;
        top: 33rem;
        left: 2rem;
        padding-bottom: 5px;
        z-index: 10;
    }
    
    #adiv {
        position: absolute;
        top: 43rem;
        left: 60rem;
        z-index: 10;
        width: 20rem;
    }
    
    #mydivheader {
        text-align: center;
        padding: 10px;
        cursor: move;
        z-index: 10;
        background-color: #2196F3;
        color: #fff;
    }
    
    #mydivheader2 {
        text-align: center;
        padding: 5px;
        cursor: move;
        z-index: 10;
        background-color: #2196F3;
        color: #fff;
        width: 15rem;
    }